apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: risk-score-app
type: Opaque
stringData:
  POSTGRES_USER: riskapp
  POSTGRES_PASSWORD: riskapp_secret
  POSTGRES_DB: riskscoredb
